/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

:root{
  --seljuk-blue: #3A8DEF;
  --drift-on-the-sea: #87CEFA;
  --cocoa-brown: #241615;
  --white: #ffffff;
  --gray: #dddbdb;
  --dark-gray: #484747;
  --orange-soda: #F4613E;
}

/* 
  GENERAL ELEMENTS -------------------
*/

body {
  font-family: sans-serif;
  padding: 2rem;
}


section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section code {
  background-color: var(--gray);
  padding: 0.6rem;
  display: block;
  max-width: 100%;
}

p{
  color: var(--cocoa-brown);
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/


/*------Navigational button---------*/

.learn-more-button{
  background-color: var(--drift-on-the-sea);
  color: var(--white);
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover{
  background-color: var(--seljuk-blue);

}

/*------In-text link------*/
a{
  color: var(--drift-on-the-sea);
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

a:hover{
  color: var(--seljuk-blue);
}


/*------Image as a link------*/

.image-nav{
  width: 200px;
  height: auto;
  transition: 0.3s ease;
}

.image-nav:hover{
  transform: scale(1.05);
}


/* 
  TEXT ELEMENTS -------------------
*/

ul li{
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}


/* 
  COMBINED ELEMENTS -------------------
*/


.nav-links {
  display: flex;
  list-style: none;
  gap: 35px; 
  transition: left 0.2s ease;
}

.nav-links a{
  text-decoration: none;
}

.context{
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

tr{
  display: block;
}

.context td:first-of-type{
  font-weight: bold;
  font-size: 1rem;
}

.context td:last-of-type{
  font-size: 0.75rem;
}


.project-section-title{
  color: var(--drift-on-the-sea);
  padding-bottom: 0.2rem;
  border-bottom: solid 2px var(--drift-on-the-sea);
}

.project-section-subheading{
  color: var(--drift-on-the-sea);
  font-weight: 100;
}

.two-images{
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

figcaption{
  color: var(--dark-gray);
  width: 100%;
  text-align: center;
  opacity: 0.5;
  margin-top: 0.5rem;
}
/* 
  BIO ELEMENTS -------------------
*/

#bio{
  display: flex;
  background-color: var(--drift-on-the-sea);
  width: 110%;
  margin-top:-1rem;
  margin-left:-2.5rem;
  justify-content: center;
  align-items: center;
}

.bio-image img{
  width: 300px;
  height: auto;
  animation: slideInLeft 0.5s forwards;
} 

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bio-description{
  margin-top: 1.5rem;
  margin-left: 4rem;
  width: 40%;
  padding-bottom: 1.5rem;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bio-name{
  font-size: 1.4rem;
  font-weight: 100;
}

.bio-quote{
  color: var(--orange-soda);
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
}

.bio-detail{
  line-height: 1.5rem;
}

#contact-me{
  width: 100%;
  text-align: center;
  background-color: var(--drift-on-the-sea);
  color: var(--white);
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin: 0;
}

.contact-information{
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 2.5rem;
}

.email{
  border-right: solid 1px gray;
  padding-right: 1rem;
}

.phone-number{
  padding-left: 1rem;
}

.resume{
  color: white;
}



/* 
  BRAND COMPONENT ELEMENTS -------------------
*/

h1,h2{
  font-family: Roboto, serif;
}

h3, h4, p{
  font-family: Helvetica, sans-serif;
}

h1{
   font-size: 44px;
   font-weight: 800;
   color: var(--seljuk-blue);
}

h2{
  font-size: 36px;
  color: var(--drift-on-the-sea);
}

h3{
  font-size: 28px;
}

h4{
  font-size: 20px;
}

p{
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4rem;
  color: var(--cocoa-brown);
}

.typography, .color-palette{
  margin-left: 4rem;

}
.typography:nth-child(-n + 7){
  border-bottom-style: solid;
  padding-top: 20px;
  border-color: var(--drift-on-the-sea);
  width: 85%;
}

.rect{
  width: 80%;
  height: 5rem;
}

.rect1{
  background-color: var(--seljuk-blue);
}

.rect2{
  background-color: var(--drift-on-the-sea);
}

.rect3{
  background-color: var(--cocoa-brown);
}

.rect4{
  background-color: var(--white);
  border: 1px solid black;
}

.color-text{
  margin-bottom: 5rem;
}

.imagery img[src="image/seniowell-phone.png"]{
  width: 200px;
}

.imagery img[src="image/persona.png"]{
  width: 400px;
}

.imagery img[src="image/profile.png"]{
  width: 300px;
}

.imagery img{
  height: auto;
  margin-right: 2rem;
}