/*----------General ------------------*/
section:not([id]) {
  border-top: none;
}

html{
  z-index: 0;
}

h1{
  color: var(--seljuk-blue);
  text-align: center;
  width: 100%;
  margin-top: 10rem;
  text-decoration: underline;
}

.image-nav{
  width: 200px;
  height: auto;
}

footer{
  width: 108%;
  margin-left: -2.5rem;
}
/*----------Navigation bar-------------*/

.logo{
  position: fixed;
  left: 0;
  margin-left: 4rem;
  font-size: 1.75rem;
  margin-top: -0.25rem;
}

.logo:hover{
  color: var(--drift-on-the-sea);
}


nav{
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  background-color: var(--white);
  padding-bottom: 5rem;
  border-bottom: solid 2px var(--gray);
}

nav ul{
  position: fixed;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
}

nav ul li:nth-child(n+2) a {
  color: var(--cocoa-brown);
 }
 
 nav ul li:nth-child(n+2) a:hover{
   color: var(--drift-on-the-sea);
  }

/*-------------Bio-----------------*/

#bio{
  transform: translateY(3rem);
}


/*-----------Featured Projects-------------------*/

#featured-projects{
  display: flex;
  justify-content: center;

}

.featured-projects-description{
  margin-top: 3rem;
  width: 50%;
  margin-right: 5rem;
  line-height: 1.5rem;
}

.featured-projects-title{
  font-size: 3.5rem;
  color: var(--drift-on-the-sea);
}

.featured-projects-subheading{
  margin-top: -1.25rem; 
  margin-bottom: 3rem;
}

.featured-projects-content{
  margin-bottom: 1.25rem;
}


/*-----------------Footer-----------------------*/
footer{
  margin-top: 10rem;
}

