/* Hamburger Button Styling */

#close-menu-btn {
  position: absolute;
  transform: translate(14rem, -2.5rem);
  cursor: pointer;
  display: none;
  width: 180px;
  height: auto;
  color: var(--drift-on-the-sea);
}

#hamburger-btn {
  color: var(--drift-on-the-sea);
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 1.1rem;
}

/*----------General ------------------*/
section:not([id]) {
  border-top: none;
}

html{
  z-index: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

}

h1{
  color: var(--drift-on-the-sea);
  text-align: center;
  border-bottom: solid 3px var(--drift-on-the-sea);
  padding-bottom: 1rem;
  width: 40%;
  margin: 8rem auto 3rem auto;
}

.image-nav{
  width: 300px;
  height: 300px;
  border: solid 2px var(--drift-on-the-sea);
  border-radius: 25px;
}



figcaption{
  margin-top: 1.5rem;
  font-style: italic;
  margin-bottom: 4.5rem;
  font-size: 0.85rem;
}

/*----------Navigation bar-------------*/

.logo{
  position: fixed;
  left: 0;
  margin-left: 4rem;
  font-size: 1.75rem;
  margin-top: 0.25rem;
  /*border-bottom: 2px solid transparent; *//* Initial transparent border */
  padding-bottom: 0.3rem;
  text-decoration: none;
  margin-top: 1.4rem;
  color: var(--drift-on-the-sea);

  &:hover{
    color: var(--seljuk-blue);
  }
  
}

/*
.logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color:var(--cocoa-brown); 
  transition: width 0.5s ease; 
}

.logo:hover::after {
  width: 100%;
  background-color: var(--drift-on-the-sea); 
  animation: drawLogoBorder 0.5s ease forwards;
}

@keyframes drawLogoBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
*/

nav{
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  background-color: var(--white);
  padding-bottom: 5rem;
  border-bottom: solid 2px var(--gray);
  animation: fadeInDown 0.5s forwards;

  ul{
    position: fixed;
    right: 0;
    margin-right: 2rem;
    margin-top: 1.2rem;

    li:nth-child(n+1){
      transform: translateY(0.4rem);

      a {
        color: var(--drift-on-the-sea);
  
        &:hover{
          color: var(--seljuk-blue);
        }
     }
    }

  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/*-------------Bio-----------------*/

#bio{
  transform: translateY(3rem);
}


/*-----------Featured Projects-------------------*/

#featured-projects{
  width: 90%;
  display: block;
  padding-top: 3.5rem;
  margin: auto;
}

.featured-projects-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.featured-projects-description{
  width: 40%;
  margin-right: 5rem;
  line-height: 1.5rem;

  h3, h4{
    color: var(--orange-soda);
  }

  h3{
    margin-top: -1rem;
    line-height: 2.3rem;
  }
}

.featured-projects-subheading{
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.featured-projects-content{
  margin-bottom: 1.25rem;
}

#second-featured-projects-description{
  margin-left: 4rem;
}

#second-featured-projects-image{
  margin-left: 4rem;
}

button{
  border-radius: 80px;
}

/*-----------Footer-----------*/
footer{
  margin-top: 10rem;
}

/*-----------------Overall Project-----------------*/

.project-overall{
  width: 75%;
  padding-top: 5rem;
  margin: auto;
}

.project-logo{
  width: 310px;
  height: auto;
  border: solid 1px var(--drift-on-the-sea);
}

.project-hero-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}

.project-hero-section{
  text-align: center;
  width: 110%;
  max-height: 350px;
  margin-top: -2rem;
  transform: translate(-2.5rem, 2.5rem);
  margin-bottom: 5rem;
    
  h2{
    color: var(--cocoa-brown);
    padding-top: 7rem;
    font-weight: bold;
    animation: fadeInUp 0.5s forwards;
    color: white;
  }

  h4{
    padding-bottom: 7rem;
    font-weight: 100;
    animation: fadeInUp 0.5s forwards;
    color: white;
  }
}

.project-link{
  color: var(--cocoa-brown);
  font-size: 0.75rem;
}

table td{
  word-break: break-word;
}

tr td:last-of-type{
  width: 90%;
  display: flex;
  padding-bottom: 1.5rem;

}

.project-section-title:not(:first-child){
  margin-top: 4.5rem;
}

.project-main-content{
  display: flex;
  justify-content: space-between;
}

.project-overview{
  width: 60%;
}

.context{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 25%;
  border: dashed 2px var(--drift-on-the-sea);
  padding-left: 2rem;
  padding-top: 1rem;
}

.one-image{
  width: 700px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  border: solid 1px var(--cocoa-brown);
}

.bulletless{
  list-style: none;
}

.three-images{
  display: flex;
  margin: auto;
  justify-content: center;

  img{
    width: auto;
    height: 500px;
    text-align: center;
  }

  figcaption{
    width: 75%;
  }
}

.three-images-size{
  width: 200px;
  height: auto;
}


.image-and-caption{
  display: block;
}

.refinement figcaption{ 
  margin-top: -1rem;
}


.key-statement{
  font-weight: bold;
  font-size: 1.1rem;
}

.three-points-container{
  display: flex;
  justify-content: space-between;

  .three-points{
    width: 30%;
    margin-bottom: 2rem;
  }

  h4{
    font-weight: 500;
  }
}

.two-points-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;

  .two-points{
    width: 45%;
    margin-bottom: 2rem;
  }

  h4{
    font-weight: 500;
  }
}

/*-----------------Responsiveness-----------------------*/

@media (max-width: 992px) {

  /*----------Bio------------*/
   #bio{
      display: flex;
      flex-direction: column;
      width: 120%;
   }

   .bio-image{
      order: 2;
      margin-bottom: 5rem;
   }

   .bio-description{
      order: 1;
      width: 75%;
      margin-left: -1.25rem;
   }

  /*----------Featured Project------------*/
   .featured-project-title{
    width: 60%;
    display: flex;
    justify-content: center;
  }

  #second-featured-projects-description{
    min-width: 40%;
  }

  /*-----------Overall Project--------------*/

  .project-hero-section{
    width: 120%;

    h2, h4{
      margin-left: -2rem;
    }
  } 

  .one-image{
    width: 100%;
  }

  .three-points-container, .two-points-container{
    display: block;

    .three-points{
      width: 100%;
      
      p{
        margin-top: -1rem;
        padding-bottom: 2rem;
      }
    }
  }

  /*----------Footer------------*/
  footer{
    width: 110%;
  }
  
}

@media (max-width: 768px) {

  header.show-mobile-menu::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  #hamburger-btn {
    display: block;
    font-size: 40px;
  } 

  #close-menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: -20px;
    left: -340px;
    width: 250px;
    height: 100vh;
    background: var(--white);
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
    border-right: solid 2px var(--seljuk-blue);
    z-index: 2000000;

    li:last-of-type{
      transform: translateY(-2rem);
    }
  }

  header.show-mobile-menu .navbar .nav-links {
    left: 0;
  }

  /*----------Featured Project------------*/
  .featured-project-title{
    width: 75%;
  }

  /*----------Overall Project-------------*/
  .project-main-content{
    display: block;
  }

  .project-overview{
    width: 100%;
    order: 2;
  }

  .context{
    width: 90%;
    order: 1;

    td:first-of-type{
      font-weight: bold;
      font-size: 1.25rem;
    }

    .context td:last-of-type{
      font-size: 1rem;
    }
  }

  .project-logo{
    margin-top: 2rem;
    min-width: 100%;
  }
  .project-hero-section h2, .project-hero-section h4{
    margin-left: 0;
  }

  /*----------Footer------------*/
  footer{
    width: 120%;
  }


}

@media (max-width: 660px) {

  /*----------Featured Project------------*/

  .featured-projects-container{
    display: flex;
    flex-direction: column;
  }

  .featured-projects-image{
      order: 1;
      position: static;
      margin: 0;
      padding: 0;
  }

  .featured-projects-description{
      order: 2;
      width: 80%;
      margin: auto;
  }

  .featured-project-title{
    width: 90%;
  }

  #second-featured-projects-description{
    margin-left: 2rem;
  }

  #second-featured-projects-image{
    margin-left: 0;
  }

}