
#qwc-project-hero-section{
    background-image: url('../image/quebec-winter-carnival/parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#quebec-winter-carnival{
    margin-top: -5rem;
}

#quebec-winter-carnival-context{
    padding-right: 2rem;
}

/*
#seniowell-signup{
    width: auto;
    height: 400px;
    position: absolute;
    margin-top: 3rem;
    right: 0;
    margin-right: 6rem;
}

#seniowell-persona{
    display: flex;

    img:last-of-type{
        margin-left: 2rem;
    }
}

#sketches{
    max-width: 100%;
    display: flex;

    img{
        width: 400px;
        height: auto;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    figcaption{
        text-align: center;
        width: 90%;
        margin-left: 1.25rem;
    }

    .image-and-caption:not(:last-child){
        border-right: 2px solid var(--gray);
    }
}

.prototype{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;

    .image-and-caption:first-child > figcaption {
        width: 90%;
    }
}

.first-prototype{
    margin-right: 1rem;
}

.third-prototype{
    margin-left: -1rem;
}

#seniowell-contact-me{
    position: absolute;
    bottom: 0;
}

@media (max-width: 1250px) {
    #seniowell-persona{
        display: block;
        width: 80%;
        margin: auto;
    }

    #seniowell-persona{

        figcaption{
            margin-left: 1rem;
        }

        img:first-of-type{
            margin: auto;
        }

        img:last-of-type{
            margin: auto;
            padding-top: 1.5rem;
        }
    }
    
    #sketches{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        max-width: 100%;

        figcaption{
            width: 100%;
        }
        img, figcaption{
            margin-left: auto;
            margin-right: auto;
        }

        .image-and-caption{
            margin: auto;
        }

        .image-and-caption:not(:last-child){
            border: none;
        }
    }

    .prototype{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        max-width: 100%;

        figcaption{
            margin-left: auto;
            margin-right: auto;
        }

        .image-and-caption{
            width: 40%;
            margin: auto;
        }
    }

    .refinement img{
        width: 100%;
    }

}

@media (max-width: 992px) {

    #seniowell{
        width: 90%;
    }
   
    .seniowell-userflow{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #seniowell-storyboard{
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    #seniowell-persona img{
        width: 125%;
        height: auto;
    }

    #seniowell-persona, #sketches img,  #sketches figcaption {
        margin-left: 0;
    } 

    
    #sketches{
        display: block;
    }
  }

  @media (max-width: 660px){

    #seniowell-logo{
        margin-top: 2rem;
        min-width: 100%;
    }

    .prototype{
        display: block;
        text-align: center;
    }
  }

  */

