#seniowell{
    margin: auto;
    margin-top: -5rem;
}

#seniowell-logo{
    width: 310px;
    height: auto;
    border: solid 1px var(--drift-on-the-sea);
}
#seniowell-signup{
    width: auto;
    height: 400px;
    position: absolute;
    margin-top: 3rem;
    right: 0;
    margin-right: 6rem;
}

#seniowell-persona{
    display: flex;
}

#seniowell-persona img:last-of-type{
    margin-left: 2rem;
}

#sketches{
    max-width: 100%;
    display: flex;
}

#sketches img{
    width: 400px;
    height: auto;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

#sketches figcaption{
    text-align: center;
    width: 90%;
    margin-left: 1.25rem;
}

.prototype .image-and-caption:first-child > figcaption {
    width: 90%;
}

#sketches .image-and-caption:not(:last-child){
    border-right: 2px solid var(--gray);
}

#seniowell-contact-me{
    position: absolute;
    bottom: 0;
}

.prototype{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.first-prototype{
    margin-right: 1rem;
}

.third-prototype{
    margin-left: -1rem;
}

/*Target everything except for the last element: https://stackoverflow.com/questions/2573544/how-can-i-select-all-children-of-an-element-except-the-last-child */

@media (max-width: 1250px) {
    #seniowell-persona{
        display: block;
        width: 80%;
        margin: auto;
    }

    #seniowell-persona figcaption{
        margin-left: 1rem;
    }

    #seniowell-persona img:last-of-type{
        margin: auto;
        padding-top: 1.5rem;
    }

    #seniowell-persona img:first-of-type{
        margin: auto;
    }
    
    #sketches{
        display: flex;
        justify-content: space-between;
    }

    #sketches .image-and-caption:not(:last-child){
        border: none;
    }

    #sketches img, #sketches figcaption{
        margin-left: auto;
        margin-right: auto;
    }

    #sketches .image-and-caption{
        margin: auto;
    }

    #sketches figcaption{
        width: 100%;
    }

    .prototype, #sketches{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        max-width: 100%;
    }

    .prototype figcaption{
        margin-left: auto;
        margin-right: auto;
    }

    .prototype .image-and-caption{
        width: 40%;
        margin: auto;
    }

    .refinement img{
        width: 100%;
    }

}

@media (max-width: 992px) {

    #seniowell{
        width: 90%;
    }
   
    .seniowell-userflow{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #seniowell-storyboard{
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    #seniowell-persona img{
        width: 125%;
        height: auto;
    }

    #seniowell-persona, #sketches img,  #sketches figcaption {
        margin-left: 0;
    } 

    
    #sketches{
        display: block;
    }
  }

  @media (max-width: 660px){

    #seniowell-logo{
        margin-top: 2rem;
        min-width: 100%;
    }

    .prototype{
        display: block;
        text-align: center;
    }
  }


